# This is required in order to reference private repos
# this also requires the following git configuration
#
# git config --global url."git@github.com:".insteadOf "https://github.com/"
export DOCKER_BUILDKIT=1
