{
    "roots": [
      "policies"
    ],
    "metadata": {
      "required_builtins": {
        "builtin1": [
          {
            "name": "dir.user",
            "decl": {
              "args": [
                {
                  "type": "string"
                }
              ],
              "result": {
                "type": "any"
              },
              "type": "function"
            }
          },
          {
            "name": "dir.manager_of",
            "decl": {
              "args": [
                {
                  "type": "string"
                }
              ],
              "result": {
                "type": "any"
              },
              "type": "function"
            }
          },
          {
            "name": "dir.management_chain",
            "decl": {
              "args": [
                {
                  "type": "string"
                }
              ],
              "result": {
                "type": "any"
              },
              "type": "function"
            }
          },
          {
            "name": "res.get",
            "decl": {
              "args": [
                {
                  "type": "string"
                }
              ],
              "result": {
                "type": "any"
              },
              "type": "function"
            }
          },
          {
            "name": "dir.identity",
            "decl": {
              "args": [
                {
                  "type": "string"
                }
              ],
              "result": {
                "type": "any"
              },
              "type": "function"
            }
          },
          {
            "name": "ds.check_permission",
            "decl": {
              "args": [
                {
                  "type": "any"
                }
              ],
              "result": {
                "type": "boolean"
              },
              "type": "function"
            }
          },
          {
            "name": "ds.check_relation",
            "decl": {
              "args": [
                {
                  "type": "any"
                }
              ],
              "result": {
                "type": "boolean"
              },
              "type": "function"
            }
          },
          {
            "name": "ds.graph",
            "decl": {
              "args": [
                {
                  "type": "any"
                }
              ],
              "result": {
                "type": "any"
              },
              "type": "function"
            }
          },
          {
            "name": "ds.identity",
            "decl": {
              "args": [
                {
                  "type": "any"
                }
              ],
              "result": {
                "type": "any"
              },
              "type": "function"
            }
          },
          {
            "name": "ds.object",
            "decl": {
              "args": [
                {
                  "type": "any"
                }
              ],
              "result": {
                "type": "any"
              },
              "type": "function"
            }
          },
          {
            "name": "ds.relation",
            "decl": {
              "args": [
                {
                  "type": "any"
                }
              ],
              "result": {
                "type": "any"
              },
              "type": "function"
            }
          },
          {
            "name": "ds.user",
            "decl": {
              "args": [
                {
                  "type": "any"
                }
              ],
              "result": {
                "type": "any"
              },
              "type": "function"
            }
          }
        ],
        "builtin2": [
          {
            "name": "dir.is_manager_of",
            "decl": {
              "args": [
                {
                  "type": "string"
                },
                {
                  "type": "string"
                }
              ],
              "result": {
                "type": "boolean"
              },
              "type": "function"
            }
          },
          {
            "name": "dir.works_for",
            "decl": {
              "args": [
                {
                  "type": "string"
                },
                {
                  "type": "string"
                }
              ],
              "result": {
                "type": "boolean"
              },
              "type": "function"
            }
          },
          {
            "name": "dir.is_same_user",
            "decl": {
              "args": [
                {
                  "type": "string"
                },
                {
                  "type": "string"
                }
              ],
              "result": {
                "type": "boolean"
              },
              "type": "function"
            }
          }
        ],
        "builtinDyn": [
          {
            "name": "res.list",
            "decl": {
              "result": {
                "type": "any"
              },
              "type": "function"
            }
          }
        ]
      }
    }
  }