{
    "roots": [
      "policies"
    ],
    "metadata": {
      "required_builtins": {
        "builtin1": [
          {
            "name": "ds.check",
            "decl": {
              "args": [
                {
                  "type": "any"
                }
              ],
              "result": {
                "type": "boolean"
              },
              "type": "function"
            }
          },
          {
            "name": "ds.check_permission",
            "decl": {
              "args": [
                {
                  "type": "any"
                }
              ],
              "result": {
                "type": "boolean"
              },
              "type": "function"
            }
          },
          {
            "name": "ds.check_relation",
            "decl": {
              "args": [
                {
                  "type": "any"
                }
              ],
              "result": {
                "type": "boolean"
              },
              "type": "function"
            }
          },
          {
            "name": "ds.graph",
            "decl": {
              "args": [
                {
                  "type": "any"
                }
              ],
              "result": {
                "type": "any"
              },
              "type": "function"
            }
          },
          {
            "name": "ds.object",
            "decl": {
              "args": [
                {
                  "type": "any"
                }
              ],
              "result": {
                "type": "any"
              },
              "type": "function"
            }
          },
          {
            "name": "ds.relation",
            "decl": {
              "args": [
                {
                  "type": "any"
                }
              ],
              "result": {
                "type": "any"
              },
              "type": "function"
            }
          },
          {
            "name": "ds.relations",
            "decl": {
              "args": [
                {
                  "type": "any"
                }
              ],
              "result": {
                "type": "any"
              },
              "type": "function"
            }
          },
          {
            "name": "ds.identity",
            "decl": {
              "args": [
                {
                  "type": "any"
                }
              ],
              "result": {
                "type": "any"
              },
              "type": "function"
            }
          },
          {
            "name": "ds.user",
            "decl": {
              "args": [
                {
                  "type": "any"
                }
              ],
              "result": {
                "type": "any"
              },
              "type": "function"
            }
          }
        ]
      }
    }
  }