name: build-release

on:
  workflow_dispatch:
  push:
    tags:
    - '*'

jobs:
  release_policy:
    runs-on: ubuntu-latest
    name: build

    steps:
    - 
      uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - 
      name: Read .github/config.yaml
      id: config
      uses: gertd/yaml-reader-action@v1
      with:
        file: .github/config.yaml
    -
      name: Calc Tags
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: |
          {{`${{ steps.config.outputs.server }}/${{ steps.config.outputs.repo }}`}}
        flavor: |
          latest=auto
        tags: |
          type=semver,pattern={{`{{version}}`}}
          type=semver,pattern={{`{{major}}.{{minor}}`}}
          type=semver,pattern={{`{{major}}`}}
          # type=sha
    - 
      name: Policy Login
      id: policy-login
      uses: opcr-io/policy-login-action@v3
      with:
        username: {{`${{ steps.config.outputs.username }}`}}
        password: {{`${{ secrets.`}}{{ pushkey }} }}
        server: {{`${{ steps.config.outputs.server }}`}}
    - 
      name: Policy Build
      id: policy-build
      uses: opcr-io/policy-build-action@v4
      with:
        src: src
        tag: {{`${{ steps.config.outputs.repo }}`}}
        revision: "$GITHUB_SHA"
        rego_version: "rego.v1"
      env:
        POLICY_DEFAULT_DOMAIN: {{`${{ steps.config.outputs.server }}`}}
    - 
      name: Policy Tag
      id: policy-tag
      uses: opcr-io/policy-tag-action@v3
      with:
        source_tag: {{`${{ steps.config.outputs.repo }}`}}
        target_tags: {{`${{ steps.meta.outputs.tags }}`}}
      env:
        POLICY_DEFAULT_DOMAIN: {{`${{ steps.config.outputs.server }}`}}
    - 
      name: Policy Push
      id: policy-push
      uses: opcr-io/policy-push-action@v3
      with:
        tags: {{`${{ steps.meta.outputs.tags }}`}}
      env:
        POLICY_DEFAULT_DOMAIN: {{`${{ steps.config.outputs.server }}`}}
    - 
      name: Policy Logout
      id: policy-logout
      uses: opcr-io/policy-logout-action@v3
      with:
        server: {{`${{ steps.config.outputs.server }}`}}
